body{
background-color:rgba(250, 80, 10, 0.9) ;
}
h1{
    color:yellow;
font-size: 250%;
}
a{
    /* font-size: 150%; */
    text-decoration: none;
    color:yellow;
    width: 100%;
    /* border-bottom: 5px yellow solid; */
    text-transform: capitalize;
/* margin: 20px; */
}
button{
    background-color: brown;
border-radius: 5px;
font-size: 150%;
}
p{
    margin-top: 20px;
}