body{
    background-color: rgba(255, 50, 50, 1);
    color: wheat;
}
h1{
    text-shadow: yellow 1px 2px 2px;
    color: yellow;
    
}
h2{
    text-shadow: violet 1px 2px 2px;
    font-size: 180%;
    color: yellow;
}
label,b{
    font-size: 130%;
    color: yellow;
}
input,textarea,select{
    border: grey 5px solid;
    color: brown;
}
button{
background-color:orangered ;
    /* color: gold; */
    margin-top: 15px;
border-radius: 8px;
font-size: 20px;
}
a{
    text-decoration: none;
color: gold;

}